$maxMobile:"(max-width:767px)";
$minSmall:"(min-width:768px)";


$maxMedium:"(max-width:991px)";
$minMedium:"(min-width:992px)";
$maxLarge:"(max-width:1199px)";

$minLarge:"(min-width:1200px)";
$section-background:#121212;
$box-background:#181818;
$main-transition:0.7s;
